{% extends 'base.html' %}

{% block title %}
    Данные БД
{% endblock %}
{% block content%}
    {% if users %}
        {% for user in users %}
            <div class="card" style="width: 18rem; ">
                <div class="card-header">
                    Пользователь №{{ user.id }}
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">Имя: {{ user.username }}</li>
                <li class="list-group-item">Фамилия: {{ user.userfname }}</li>        
                <li class="list-group-item">Почта: {{ user.email }}</li>
                </ul>
            </div>
        
        {% endfor %}
    {% else %}
        <center>
            <h2 style="margin-top: 100px; color: red;">База данных пуста</h2>
        </center>
    {% endif %}
{% endblock %}
